{% extends 'default_details.jinja' %}

{% set company = (object.company.name or object.main_contact.name ) or None %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link no-nav" href="#" data-toggle="modal" data-target="#confirm_modal">{{ _('Supprimer') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('pj:update_project', object.pk) }}">Modifier</a>
      </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ajouter un document</a>
    <div class="dropdown-menu">
        {% for key, value in type %}
            <a class="dropdown-item" href="{{ url('doc:create_document', object.pk, key) }}">{{ value }}</a>
        {% endfor %}
    </div>
  </li>
    </ul>
  </div>
  <div class="card-body">
      <img src="{{ static('img/project_dft.svg') }}" alt="project miniature" class="img-thumbnail img-user rounded float-left">
    <h5 class="card-title text-center"><b>{{ object.name }}</b></h5>
    <p class="card-text text-center">
    <a href="{{ url('crm:company_detail', object.company.pk) }}" class="nav-link">{{ object.company.name }}</a>
    </p>
    <div class="row info-card">
      <div class="col-6">
        <b>{{ _('Budget') }} : </b> {{ object.budget or '---' }}€ <br>
        <b>{{ _('Création') }} : </b> {{ object.date_created.strftime('%d-%m-%Y') }}<br>
      </div>
      <div class="col-6">
        <b>{{ _('Début') }} : </b> {% if object.start_date %} {{ object.start_date.strftime('%d-%m-%Y') }} {% else %} {{ '---' }} {% endif %}<br>
        <b>{{ _('Fin') }} : </b> {% if object.end_date %} {{ object.end_date.strftime('%d-%m-%Y') }} {% else %} {{ '---' }} {% endif %}<br>
        <b>{{ _('Status') }} : </b> {{ object.get_status_string() or '---' }}<br>
      </div>
      <div class="col-12">
        <b>{{ _('Description') }} : </b>{{ object.description or '---' }}<br>
      </div>
    </div>
  </div>
</div>
{% include 'basic_modal.jinja' %}
{% endblock %}