{% extends 'default_ajax_list.jinja' %}

{% block title %}
{% endblock %}

{% block content %}
    {% block list_display %}
    {% if object_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><a href="{{ url('pj:add_project') }}" class="nav-link"><i data-feather="user-plus"></i></a></th>
              <th scope="col">{{ _('Nom') }}</th>
              <th scope="col">{{ _('Date de création') }}</th>
              <th scope="col">{{ _('Budget') }}</th>
              <th scope="col">{{ _('Date de début') }}</th>
              <th scope="col">{{ _('Date de fin') }}</th>
              <th scope="col">{{ _('Status') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for pj in object_list %}
              <tr>
                <th scope="row">{{ pj.display_id() }}</th>
                <td><a href="{{ url('pj:project_detail', pj.pk) }}" class="nav-link">{{ pj.name }}</a></td>
                {% if pj.date_created %} <td>{{ pj.date_created.strftime('%d-%m-%Y') }}</td> {% else %} <td> --- </td> {% endif %}
                <td>{{ pj.budget }}€</td>
                {% if pj.start_date %} <td>{{ pj.start_date.strftime('%d-%m-%Y') }}</td> {% else %} <td> --- </td>{% endif %}
                {% if pj.end_date %} <td>{{ pj.end_date.strftime('%d-%m-%Y') }}</td> {% else %} <td> --- </td>{% endif %}
                <td>{{ pj.get_status_string() }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
          <h2 class="">{{ _('Aucun élement à afficher') }}</h2>
          <a  role="button" href="{{ url('pj:add_project') }}" class="btn btn-outline-secondary nav-link"><i data-feather="plus-circle"></i> {{ _('Ajouter') }} </a>
        </div>
    {% endif %}
    {% endblock %}
{% endblock %}
