<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="QuickCRM, le CRM en toute simplicité">
    <meta name="author" content="Hugo Delannoy <delannoy_45@msn.com>">

    <title>QuickCRM : Cap'EISTI</title>

    <!-- Custom styles for this template -->
    <link href="{{ static("css/signin.css") }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form method="POST" action="{{ url('qcauth:login') }}?next={{next}}" class="form-signin">
      <img class="mb-4" src="{{ static('img/logo.png') }}" alt="" width="50%" height="50%">
      <h1 class="h3 mb-3 font-weight-normal">{{ _('Veuillez vous identifier') }}</h1>
      {{ form.username.errors }}
      <label for="{{ form.username.id_for_label }}" class="sr-only">{{ _('Email') }}</label>
      <input type="email" id="{{ form.username.id_for_label }}" class="form-control" name="{{ form.username.html_name }}" placeholder="{{ _('Adresse email') }}" required autofocus>
      <label for="{{ form.password.id_for_label }}" class="sr-only">{{ _('Mot de passe') }}</label>
      <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="form-control" placeholder="{{ _('Mot de passe')}}" required>
        {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">{{ _('Let\'s go ') }}</button>
      <p class="mt-5 mb-3 text-muted">Hugo Delannoy and QuickCRM Community &copy; 2018 <br>
      <a href="https://gitlab.com/HugoDel/QuickCRM/tags/v2018.930-hotfix">rev. 2018.930-hotfix</a></p>
    </form>
  </body>
</html>
{{ render_bundle('external', 'js') }}
