{% extends 'default_details.jinja' %}

{% block content %}
{% set adh = object.user.role.adherent %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link no-nav" href="#" data-toggle="modal" data-target="#confirm_modal">{{ _('Supprimer') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('crm:update_adherent', object.user.pk) }}">{{ _('Modifier') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Envoyer un email</a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Changer le statut') }}</a>
        <div class="dropdown-menu">
            {% for key, value in status %}
                <a class="dropdown-item" href="{{ url('crm:adh_chg_status', object.pk, key) }}">{{ value }}</a>
            {% endfor %}
        </div>
      </li>
    </ul>
  </div>
  <div class="card-body">
      <img src="{{ static('img/user_dft.svg') }}" alt="client miniature" class="img-thumbnail img-user rounded float-left">
      <h5 class="card-title text-center"><b>{{ object.user.get_full_name() }}</b></h5>
        <p class="card-text text-center">
          {% if company %}
            {% set pk = object.company.pk or object.main_contact.pk %}
            <a href="{{ url('crm:company_detail', pk) }}" class="nav-link">{{ company }}</a>
          {% endif %}
        </p>
        <div class="row info-card">
          <div class="col-6">
            <b>{{ _('Adresse') }} : </b> {{ object.user.format_address() or '---' }} <br>
            <b>{{ _('Tel. Portable') }} : </b> {{ object.user.format_phone() or '---' }}<br>
            <b>{{ _('Création') }} : </b> {{ object.user.date_created.strftime('%d-%m-%Y') }}<br>
            <b>Génie : </b> {{ object.get_adh_branch() }}
          </div>
          <div class="col-6">
            <b>{{ _('Modification') }} : </b> {% if object.user.date_modified %} {{ object.user.date_modified.strftime('%d-%m-%Y') }} {% else %} {{ '---' }} {% endif %}<br>
            <b>{{ _('Statut') }}: </b> {{ adh_status }}<br>
            <b>N° carte étudiante : </b> {{ adh.stu_card }} <br>
            <b>N° Sécu : </b> {{ adh.n_vital }} <br>
          </div>
          <div class="card sup-box">
            <div class="card-body">
              <h5 class="card-title">Adhésion</h5>
            {% if object.sub.exists() %}
              <h6 class="card-subtitle mb-2 text-muted">Année {{ object.sub.last().year }}-{{ object.sub.last().year + 1 }}</h6>
                <p class="card-text">Statut : {% if object.sub.last().validate_sub() %} <i data-feather="check"></i> {% else %} <i data-feather="x"></i> {% endif %}</p>
              {% if object.sub.last() %} <a href="{{ url('doc:document_details', doc_pk) }}" class="card-link">Reçu</a> {% endif %}
              {% if object.sub.count() > 1 %} <a href="#" class="card-link">Autre adhésion</a> {% endif %}
            {% else %}
                <p class="alert alert-warning" role="alert">Pas d'adhésion en cours ou passée</p>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
</div>

{% include 'basic_modal.jinja' %}
{% endblock %}