{% extends 'default_details.jinja' %}

{% set company = (object.company or object.main_contact ) or None %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link no-nav" href="#" data-toggle="modal" data-target="#confirm_modal">{{ _('Supprimer') }}</a>
      </li>
      <li class="nav-item">
{#      TODO  <a class="nav-link" href="{{ url('crm:update_adherent', object.user.pk) }}">{{ _('Modifier') }}</a>#}
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Envoyer un email</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
      <img src="{{ static('img/user_dft.svg') }}" alt="client miniature" class="img-thumbnail img-user rounded float-left">
    <h5 class="card-title text-center"><b>{{ object.user.get_full_name() }}</b></h5>
    <p class="card-text text-center">
      {% if company %}
        <a href="{{ url('crm:company_detail', company.pk) }}" class="nav-link">{{ company.name }}</a>
      {% else %}
        {{ '---' }}
    </p>
  {% endif %}
    <div class="row info-card">
      <div class="col-6">
        <b>{{ _('Adresse') }} : </b> {{ object.user.format_address() or '---' }} <br>
        <b>{{ _('Tel. Portable') }} : </b> {{ object.user.format_phone() or '---' }}<br>
        <b>{{ _('Création') }} : </b> {{ object.user.date_created.strftime('%d-%m-%Y') }}<br>
      </div>
      <div class="col-6">
        <b>{{ _('Modification') }} : </b> {% if object.user.date_modified %} {{ object.user.date_modified.strftime('%d-%m-%Y') }} {% else %} {{ '---' }} {% endif %}<br>
        <b>{{ _('Actif') }} ? </b> {% if object.user.is_active %} <i data-feather="check"></i> {% else %} <i data-feather="x"></i> {% endif %}
      </div>
    </div>
  </div>
</div>
{% include 'basic_modal.jinja' %}
{% endblock %}