{% extends 'default_ajax_list.jinja' %}

{% block title %}
{% endblock %}

{% block content %}
    {% block list_display %}
    {% if object_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><a href="{{ url('crm:add_client') }}" class="nav-link"><i data-feather="user-plus"></i></a></th>
              <th scope="col">{{ _('Nom') }}</th>
              <th scope="col">{{ _('Ville') }}</th>
              <th scope="col">{{ _('Code postal') }}</th>
              <th scope="col">{{ _('Entreprise') }}</th>
              <th scope="col">{{ _('Téléphone') }}</th>
              <th scope="col">{{ _('Actif') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for client in object_list %}
              <tr>
              {% set company = (client.company or client.main_contact ) or None %}
                <th scope="row">{{ client.display_id() }}</th>
                  <td><a href="{{ url('crm:client_detail', client.pk) }}" class="nav-link">{{ client.user.get_full_name() }}</a></td>
                <td>{{ client.user.town or company.town }}</td>
                <td>{{ client.user.zip or company.zip }}</td>
                <td>{% if company %} {{ company.name }} {% else %} --- </td> {% endif %}
                <td>{{ (client.user.phone or client.user.mobile) or '---' }}</td>
                {% if client.user.is_active %}
                  <td><i data-feather="check"></i></td>
                {% else %}
                  <td><i data-feather="x"></i></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
          <h2 class="">{{ _('Aucun élement à afficher') }}</h2>
          <a  role="button" href="{{ url('crm:add_client') }}" class="btn btn-outline-secondary nav-link"><i data-feather="plus-circle"></i> {{ _('Ajouter') }} </a>
        </div>
    {% endif %}
    {% endblock %}
{% endblock %}
