{% extends 'default_ajax_list.jinja' %}

{% block title %}
{% endblock %}

{% block content %}
    {% block list_display %}
    {% if object_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><a href="{{ url('crm:add_company') }}" class="nav-link"><i data-feather="user-plus"></i></a></th>
              <th scope="col">{{ _('Nom') }}</th>
              <th scope="col">{{ _('Ville') }}</th>
              <th scope="col">{{ _('Code postal') }}</th>
              <th scope="col">{{ _('Contact principal') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for company in object_list %}
              <tr>
                <th scope="row">{{ company.display_id() }}</th>
                  <td><a href="{{ url('crm:company_detail', company.pk) }}" class="nav-link">{{ company.name }}</a></td>
                <td>{{ company.town }}</td>
                <td>{{ company.zip }}</td>
                <td>{% if company.main_contact %} {{ company.main_contact.user.get_full_name() }} {% else %} {{ '---' }} {% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
          <h2 class="">{{ _('Aucun élement à afficher') }}</h2>
          <a  role="button" href="{{ url('crm:add_company') }}" class="btn btn-outline-secondary nav-link"><i data-feather="plus-circle"></i> {{ _('Ajouter') }} </a>
        </div>
    {% endif %}
    {% endblock %}
{% endblock %}
