{% extends 'default_details.jinja' %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link no-nav" href="#" data-toggle="modal" data-target="#confirm_modal">{{ _('Supprimer') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('crm:update_company', object.pk) }}">{{ _('Modifier') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Envoyer un email</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
      <img src="{{ static('img/company_dft.svg') }}" alt="company miniature" class="img-thumbnail img-user rounded float-left">
    <h5 class="card-title text-center"><b>{{ object.name }}</b></h5>
    <p class="card-text text-center">
      {% if object.main_contact %}
        <a href="{{ url('crm:client_detail', object.main_contact.pk) }}" class="nav-link">{{ object.main_contact.user.get_full_name() }}</a>
      {% else %}
        {{ '---' }}
      {% endif %}
    </p>
    <div class="row info-card">
      <div class="col-6">
        <b>{{ _('Adresse') }} : </b> {{ object.format_address() or '---' }} <br>
        <b>{{ _('Création') }} : </b> {{ object.date_created.strftime('%d-%m-%Y') }}<br>
      </div>
      <div class="col-6">
        <b>{{ _('Modification') }} : </b> {% if object.date_modified %} {{ object.date_modified.strftime('%d-%m-%Y') }} {% else %} {{ '---' }} {% endif %}<br>
        <b>{{ _('Actif') }} ? </b> {% if object.is_active %} <i data-feather="check"></i> {% else %} <i data-feather="x"></i> {% endif %}
      </div>
    </div>
  </div>
</div>
{% include 'basic_modal.jinja' %}
{% endblock %}

