<!doctype html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="QuickCRM, le CRM en toute simplicité">
    <meta name="author" content="Hugo Delannoy <delannoy_45@msn.com>">
    <link rel="icon" href="../../../../favicon.ico">

    <title>QuickCRM - Cap'EISTI</title>

    <link href="{{ static("css/main.css") }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cap'EISTI</a>
      <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{ url('qcauth:logout') }}">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" id="home" href="{{ url('crm:dashbord') }}">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="projects" href="{{ url('pj:project_list') }}">
                  <span data-feather="file"></span>
                  {{ _('Projets') }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="people" href="{{ url('crm:people_list') }}">
                  <span data-feather="users"></span>
                  {{ _('Personnes') }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="accounting" href="/accounting">
                  <span data-feather="bar-chart-2"></span>
                  {{ _('Comptabilité') }}
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div id="content">
            <h1>{{ title }}</h1>
            {% block content %}
            {% endblock %}
          </div>
        </main>
      </div>
    </div>


    {{ render_bundle('main', 'js') }}
  </body>
</html>
