{% block title %}
    <div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>{{ title }}</h2>
    </div>
{% endblock %}

{% block content %}

{% endblock %}