
<!-- Modal -->
<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm_modalLabel">{{ modal_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ modal_content }}
      </div>
      <div class="modal-footer">
        <form method="POST" action="{{ modal_redirect_url }}">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ no_msg or _('Non') }}</button>
          <button type="submit" class="btn btn-primary">{{ yes_msg or _('Oui') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>