{% extends 'base.jinja' %}

{% block content %}

<form class="form-horizontal" method="post">{% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">{{ _('Envoyer') }}</button>
      </div>
    </div>
</form>

{% endblock %}