{% extends 'base.jinja' %}

{% block title %}
{% endblock %}

{% block content %}
    <nav class="nav-tabs-ajax">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
          {% for key, val in nav_item %}
              {% if loop.first %}
                <a class="nav-item nav-link active" id="nav-{{ key|replace(' ', '')|replace('é', 'e') }}-tab" data-toggle="tab" href="#nav-{{ key|replace(' ', '')|replace('é', 'e') }}" role="tab" data-url="{{ val }}"
                 aria-controls="nav-{{ key|replace(' ', '')|replace('é', 'e') }}" aria-selected="true">{{ key }}</a>
              {% else %}
                <a class="nav-item nav-link no-nav" id="nav-{{ key|replace(' ', '')|replace('é', 'e') }}-tab" data-toggle="tab" href="#nav-{{ key|replace(' ', '')|replace('é', 'e') }}" role="tab" data-url="{{ val }}"
                 aria-controls="nav-{{ key|replace(' ', '')|replace('é', 'e') }}" aria-selected="false">{{ key }}</a>
              {% endif %}
          {% endfor %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {%  for key, val in nav_item %}
            {% if loop.first %}
                <div class="tab-pane fade show active" id="nav-{{ key|replace(' ', '')|replace('é', 'e') }}" role="tabpanel" aria-labelledby="nav-{{ key|replace(' ', '')|replace('é', 'e') }}-tab">{{ _('Chargement...') }}</div>
            {% else %}
                <div class="tab-pane fade show" id="nav-{{ key|replace(' ', '')|replace('é', 'e') }}" role="tabpanel" aria-labelledby="nav-{{ key|replace(' ', '')|replace('é', 'e') }}-tab">{{ _('Chargement...') }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
