{% extends 'base.jinja' %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Supprimer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Modifier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Envoyer un email</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <img src="https://centrik.in/wp-content/uploads/2017/02/user-image-.png" alt="..." class="img-thumbnail rounded float-left">
    <h5 class="card-title text-center"><b>Client Name</b></h5>
    <p class="card-text text-center">Company</p>
    <div class="row info-card">
      <div class="col-6">
        <b>Adresse : </b> 123 rue de lila, Paris, 75001<br>
        <b>Tel. Portable : </b> 01 02 03 04 05<br>
        <b>Création : </b> 25 janvier 2018<br>
      </div>
      <div class="col-6">
        <b>Actif ? </b> Oui
      </div>
    </div>
  </div>
</div>

{% endblock %}