{% extends 'default_details.jinja' %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link no-nav" href="#" data-toggle="modal" data-target="#confirm_modal">{{ _('Supprimer') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('doc:download', object.pk) }}">Télécharger</a>
      </li>
      <li class="nav-item">
{#        <a class="nav-link" href="{{ url('crm:update_document', object.pk) }}">Modifier</a>#}
      </li>
    </ul>
  </div>
  <div class="card-body">
      <img src="{{ static('img/project_dft.svg') }}" alt="document miniature" class="img-thumbnail img-user rounded float-left">
    <h5 class="card-title text-center"><b>{{ object.name }}</b></h5>
    <p class="card-text text-center">
{#      <a href="{{ url('crm:company_detail', object.company.pk) }}" class="nav-link">{{ object.company }}</a>#}
    </p>
    <div class="row info-card">
      <div class="col-6">
        <b>{{ _('Crée par') }} : </b> {{ object.author.get_full_name() }} <br>
        <b>{{ _('Crée le') }} : </b> {{ object.create_date }} <br>
        <b>{{ _('Description') }} : </b> {{ object.description or '---' }} <br>
      </div>
      <div class="col-6">

    </div>
  </div>
</div>
{% include 'basic_modal.jinja' %}
{% endblock %}